# Build artifacts (common extensions for compiled C++ files)
*.obj
*.o
*.exe
*.dll
*.exp
*.pdb
*.ilk
*.idb

# Visual Studio Code settings
.vscode/

# Do not ignore lua51.dll -- need this for luajit
!lua51.dll